*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  background-color: #5eaaa8;
}
section {
  display: flex;
  position: absolute;
  top: 10vh;
  width: 80%;
  left: 10%;
  height: 80vh;

  .code-container {
    background-color: #252525;
    width: 65vw;
    border-radius: 0 20px 20px 0;
    height: 80vh;
    pre {
      overflow: scroll;
      position: relative;
      top: 50px;
      left: 50px;
      background-color: #fff;
      height: calc(100% - 100px);
      width: calc(100% - 100px);
      code {
        height: 80vh;
        position: relative;
        top: 25px;
        left: 25px;
      }
    }
  }
  .btn-container {
    min-width: 15%;
    max-width: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 50px 50px;
    background-color: #252525;
    border-radius: 20px 0 0 20px;
    padding-left: 50px;
    button {
      position: relative;
      top: 0;
      height: 2em;
      font-size: 1em;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.25s;
    }
    button:hover {
      opacity: 0.25;
    }
    button:focus {
      opacity: 0.5;
    }
    h3 {
      margin-top: 25px;
      border-radius: 20px 0 0 0;
      text-align: center;
      height: 50px;
      position: relative;
      left: -50px;
      width: 150%;
      background-color: #252525;
      color: #fff;
    }
  }
}
