*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f1f1 inset !important;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-dark: #252525;
  --main-gray: #535353;
  --main-light: #f8f1f1;
  --main-green: #5eaaab;
}

.slider-section {
  display: block;
  z-index: 100;
  position: relative;
  top: 20vh;
  width: 90vw;
  margin: 0 5vw;
}

.slider-section .projects-header {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-green);
}

.slider-section .projects-header .projects-circle {
  margin-left: 10px;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.slider-section .projects-header h2 {
  margin-left: 25px;
}

.tabs {
  z-index: 10;
}

.cards {
  font-size: 0;
  white-space: nowrap;
}

.card-outter {
  display: inline-block;
}

.card-outter .card img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #bbbbbb;
}

.card-outter .card .card-bg-btns {
  position: absolute;
  text-align: center;
  top: 164px;
  left: 50%;
  -webkit-transform: translate(-50%, 120px);
          transform: translate(-50%, 120px);
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-outter .card .card-bg-btns a {
  width: 75px;
  background-color: var(--main-green);
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  text-decoration: none;
  border: 0;
  line-height: 25px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px;
}

.card-outter .card .card-bg-btns a:hover {
  background-color: #6fcfd1;
}

.card-outter .card .card-bg-btns a:active {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  opacity: 1;
}

.card-outter .card .card-bg-btns .card-bg-btn-live {
  font-size: 16px;
}

.card-outter .card .card-bg-btns .card-bg-btn-code {
  font-size: 16px;
}

.card {
  margin-top: 50px;
  width: 400px;
  height: 200px;
  padding-left: 50px;
  padding-right: 50px;
}

.slider-container {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  height: 425px;
  position: relative;
  overflow: hidden;
  width: 90vw;
  border: 10px solid #bbbbbb;
  background-color: #ebebeb;
}

.slider {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.slider .active {
  -webkit-transition: none;
  transition: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.slider-indicator-bar {
  position: relative;
  height: 10px;
  width: 200px;
  margin: 100px auto 0;
  background: #fff;
  border-radius: 2px;
}

.slider-indicator-bar .slider-indicator {
  position: absolute;
  left: 0;
  content: "";
  height: 10px;
  background-color: var(--main-green);
  border-radius: 2px;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.slider-section,
.top-bg-phone {
  display: none;
}

.mails {
  position: relative;
  left: 45%;
  top: 100px;
  z-index: 10;
}

.green {
  color: var(--main-green);
}

body {
  background-attachment: fixed;
  height: auto;
  background-color: var(--main-light);
}

.open-container {
  display: none;
  position: fixed;
  width: 100px;
  padding: 10px;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 2000;
}

.open-container .open-bar-1 {
  top: 0;
  width: 25px;
  height: 10px;
  background: var(--main-dark);
  margin-bottom: 5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.open-container .open-bar-2 {
  width: 37.5px;
  height: 10px;
  background: var(--main-dark);
  margin-bottom: 5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.open-container .open-bar-3 {
  padding-left: 0;
  padding-right: 0;
  bottom: 0;
  width: 50px;
  height: 10px;
  background: var(--main-dark);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.open-container .open-bars {
  position: relative;
  right: 0%;
}

.sidebar {
  z-index: 100;
  position: fixed;
  right: 0px;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  top: 0;
  margin-right: 5vw;
  height: 100vh;
  max-height: 100vh;
  width: 200px;
}

.sidebar nav {
  position: absolute;
  top: 45%;
  right: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.sidebar nav ul .li-bg {
  width: auto;
  cursor: pointer;
  margin: 25px 0;
  right: -300px;
  padding: 0 4px 0 10px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border: 4px solid transparent;
  position: relative;
  z-index: 100;
}

.sidebar nav ul .li-bg li {
  list-style: none;
  text-align: left;
}

.sidebar nav ul .li-bg li a {
  text-decoration: none;
  color: var(--main-dark);
  font-size: 2em;
  font-weight: 500;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.sidebar nav ul .li-green-bg {
  -webkit-transition: width 1.5s;
  transition: width 1.5s;
  width: 0px;
  height: 0.375em;
  background: var(--main-green);
  position: relative;
  top: -1.75em;
  z-index: 1;
  margin-left: 14px;
}

.name {
  position: absolute;
  top: 75px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name .first-name-bg {
  margin-right: 8px;
}

.name .first-name-bg .first-name {
  background-color: var(--main-green);
  opacity: 0;
  padding: 0 10px;
  color: var(--main-light);
  font-size: 4em;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.name .last-name {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  opacity: 0;
  font-size: 4em;
}

.about-me-pic {
  position: absolute;
  top: 150px;
  padding-left: 100px;
}

.about-me-pic .picture {
  position: relative;
}

.about-me-pic .picture .dot-art {
  opacity: 0;
  position: relative;
  top: 50px;
  left: 50px;
  -webkit-transition: top 0.75s, left 0.75s;
  transition: top 0.75s, left 0.75s;
  width: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.about-me-pic .picture .dot-art .dot {
  width: 10px;
  height: 10px;
  background: var(--main-gray);
  border-radius: 100%;
}

.about-me-pic .picture .img {
  opacity: 0;
  position: absolute;
}

.about-me-pic .picture .img img {
  position: relative;
  top: -80px;
  left: 50px;
  height: 300px;
  z-index: 10;
}

.about-me-pic .picture .img-background {
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  height: 300px;
  width: 265.53px;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50px;
  -webkit-transition: top 0.5s, left 0.5s;
  transition: top 0.5s, left 0.5s;
}

.thinking-white {
  position: absolute;
  top: 350px;
  opacity: 0;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.thinking-bg {
  opacity: 0;
  width: 400px;
  position: relative;
  top: 350px;
  left: 0;
  z-index: 1;
}

.my-fiverr {
  opacity: 0;
  -webkit-transition: 0s;
  transition: 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  background: #fff;
  z-index: 10;
  top: 425px;
  left: 182%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 315.53px;
  height: 75px;
}

.my-fiverr h2 {
  font-size: 1.5em;
  color: var(--main-green);
  height: 75px;
  font-weight: 500;
  text-align: center;
  margin-left: 30px;
  padding-right: 32px;
  margin-top: 40px;
}

.my-fiverr img {
  height: 30px;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.my-fiverr .arrow-1 {
  position: absolute;
  left: 75%;
}

.my-fiverr .arrow-2 {
  position: absolute;
  left: 80%;
}

.fiverr-bg {
  opacity: 0;
  width: 315.53px;
  height: 75px;
  background-color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  position: relative;
  top: 370px;
  left: 182%;
  margin-left: 20px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 1;
}

.arrows {
  height: 32px;
  position: absolute;
  right: 20px;
}

.about-me {
  background-color: #fff;
  height: 0px;
  width: 0px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 10;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.about-me .me {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0;
  z-index: 10;
  background-color: var(--main-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .me img {
  margin-left: 10px;
  height: 40px;
}

.about-me .me h2 {
  margin-left: 25px;
  color: #fff;
  font-size: 2em;
}

.about-me .me-info {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0;
  z-index: 10;
  background-color: #fff;
  border: 10px solid #e8e8e8;
  height: 300px;
  width: auto;
}

.about-me .me-info h3 {
  font-size: 1.75em;
  margin: 25px 0 0 25px;
}

.about-me .me-info .h3-border {
  height: 6px;
  width: 325px;
  margin-left: 25px;
  border-radius: 5px;
  background: var(--main-green);
}

.about-me .me-info h4 {
  text-align: justify;
  margin-left: 25px;
  margin-top: 25px;
  line-height: 1.5em;
  font-size: 1.1em;
  width: 90%;
  color: #7e7e7e;
}

.links {
  background: var(--main-dark);
  -webkit-transform: skewX(100px);
          transform: skewX(100px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  top: 350px;
  height: 75px;
  width: 0px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  margin-left: 50px;
}

.links img {
  cursor: pointer;
  -webkit-transform: scale(0);
          transform: scale(0);
  height: 55px;
  -webkit-transition: 0.125s;
  transition: 0.125s;
  padding: 10px;
  margin-top: 12px;
}

.links a img {
  z-index: 100;
  height: 70px;
  margin-top: 6px;
}

.links img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.my-projects-section {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  background: #ebebeb;
}

.my-projects-section .stars {
  position: relative;
  top: -20vh;
}

.my-projects-section .stars path {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.my-projects-section .stars #star-1 {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  opacity: 0;
  -webkit-animation: star-1 6s linear infinite;
          animation: star-1 6s linear infinite;
}

.my-projects-section .stars #star-2 {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  opacity: 0;
  -webkit-animation: star-2 3s linear infinite;
          animation: star-2 3s linear infinite;
}

.my-projects-section .stars #star-3 {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  opacity: 0;
  -webkit-animation: star-3 6s linear infinite;
          animation: star-3 6s linear infinite;
}

.my-projects-section .project-container {
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #fff;
  z-index: 110;
  max-width: 1132px;
  min-width: auto;
  height: auto;
  margin-top: 200px;
  margin-left: 10%;
}

.my-projects-section .project-container .projects-header {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 110;
  background: var(--main-green);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
}

.my-projects-section .project-container .projects-header .projects-circle {
  background: #fff;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-left: 10px;
}

.my-projects-section .project-container .projects-header h2 {
  color: #fff;
  margin-left: 25px;
}

.my-projects-section .project-container .cards {
  -webkit-transition: 0.125s;
  transition: 0.125s;
  opacity: 0;
  z-index: 110;
  height: 100%;
  width: 100%;
  background: #ffffff;
  position: relative;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  border: 10px solid #cdcdcd;
  place-items: center;
  grid-gap: 50px;
  padding: 50px;
}

.my-projects-section .project-container .cards .card {
  z-index: 100;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 0;
  background-color: transparent;
  height: 200px;
  width: auto;
}

.my-projects-section .project-container .cards .card img {
  z-index: 10;
  height: 200px;
  border: 6px solid #e8e8e8;
  width: 300px;
}

.my-projects-section .project-container .cards .card .card-bg {
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  position: relative;
  top: -194px;
  height: 188px;
  left: 6px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: calc(100% - 12px);
}

.my-projects-section .project-container .cards .card .card-bg .card-bg-btns {
  position: absolute;
  text-align: center;
  top: 164px;
  left: 0;
  width: 100%;
  height: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.my-projects-section .project-container .cards .card .card-bg .card-bg-btns a {
  background-color: var(--main-green);
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  text-decoration: none;
  border: 0;
  line-height: 25px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.my-projects-section .project-container .cards .card .card-bg .card-bg-btns a:hover {
  background-color: #6fcfd1;
}

.my-projects-section .project-container .cards .card .card-bg .card-bg-btns a:active {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  opacity: 1;
}

.my-projects-section .project-container .cards .card h5 {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-25%);
          transform: translate(-25%);
  height: 200px;
  width: auto;
  color: #383838;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  line-height: 200px;
}

.my-projects-section .project-container .cards .card:nth-child(6) {
  cursor: auto;
  width: 300px;
  border: 6px solid #e8e8e8;
}

.my-projects-section .project-container .cards .card:nth-child(6):hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.my-projects-section .project-container .cards .card:hover {
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.my-projects-section img {
  z-index: 1;
}

.my-projects-section .tab-1 {
  opacity: 0;
  position: absolute;
  top: 7.5vh;
  margin-left: 5vw;
}

.my-projects-section .tab-2 {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 25vw;
  margin-left: -10vw;
}

.my-projects-section .tab-3 {
  opacity: 0;
  position: absolute;
  top: 75vh;
  right: 25vw;
}

.my-projects-section .tab-1-bg {
  opacity: 0;
  background-color: #fff;
  width: 375px;
  height: 197px;
  position: absolute;
  top: 7.5vh;
  margin-left: 5vw;
}

.my-projects-section .tab-2-bg {
  opacity: 0;
  background-color: #fff;
  width: 444px;
  height: 234px;
  position: absolute;
  top: 20px;
  left: 25vw;
  margin-left: -10vw;
}

.my-projects-section .tab-3-bg {
  opacity: 0;
  background-color: #fff;
  width: 398px;
  height: 209px;
  position: absolute;
  top: 75vh;
  right: 25vw;
}

.my-projects-section .tab {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 25px;
  width: 100px;
  padding-top: 25px;
}

.circles .circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 6px;
  margin-right: 6px;
}

.skills {
  position: absolute;
  top: 210vh;
  padding-left: 150px;
  height: 80vh;
  width: 80vw;
}

.skills .tools {
  z-index: 100;
}

.skills .tools .lang {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  background-color: #fff;
  width: 0px;
  margin-left: 100px;
  height: 0px;
}

.skills .tools .lang .language-bg {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  opacity: 0;
  background-color: var(--main-green);
  color: var(--main-light);
  width: 865px;
  height: 55px;
}

.skills .tools .lang .language-bg h2 {
  margin-left: 116px;
  margin-top: -21px;
}

.skills .tools .lang .languages-container {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  opacity: 0;
  background-color: #f8f1f1;
  border: 10px solid #e8e8e8;
  margin-bottom: 100px;
  height: 100px;
  width: 865px;
}

.skills .tools .lang .languages-container img {
  margin-top: 10px;
  height: 55px;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: auto;
  margin-right: 40px;
  margin-left: 40px;
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skills .tools .tool {
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
  background-color: #fff;
  width: 0px;
  height: 0px;
  margin-top: 125px;
}

.skills .tools .tool .tools-bg {
  opacity: 0;
  color: var(--main-light);
  background: var(--main-green);
  height: 55px;
  width: 560px;
}

.skills .tools .tool .tools-bg h2 {
  margin-left: 116px;
  margin-top: -21px;
}

.skills .tools .tool .tools-container {
  opacity: 0;
  background-color: #f8f1f1;
  border: 10px solid #e8e8e8;
  height: 100px;
  width: 560px;
}

.skills .tools .tool .tools-container img {
  margin-top: 10px;
  height: 55px;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: auto;
  margin-right: 40px;
  margin-left: 40px;
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skills .notebook-container {
  z-index: 10;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  position: relative;
  left: 40vw;
  top: -10vh;
  width: 483px;
  height: 0px;
  background-color: #fff;
}

.skills .notebook-container svg {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

#first-line {
  -webkit-animation: line-1 3s linear infinite;
          animation: line-1 3s linear infinite;
}

#second-line {
  -webkit-animation: line-2 3s linear infinite;
          animation: line-2 3s linear infinite;
}

#third-line {
  -webkit-animation: line-3 3s linear infinite;
          animation: line-3 3s linear infinite;
}

.contact-me {
  position: absolute;
  background-color: #ebebeb;
  top: 290vh;
  width: 100%;
  height: 90vh;
}

.contact-me .contact-me-container {
  background-color: #fff;
  width: 0px;
  height: 0px;
  z-index: 100;
  position: absolute;
  top: 15%;
  left: 15%;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.contact-me .contact-me-container .contact-me-header {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0;
  height: 55px;
  background-color: var(--main-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-me .contact-me-container .contact-me-header img {
  height: 40px;
  width: auto;
  margin-left: 20px;
}

.contact-me .contact-me-container .contact-me-header h2 {
  color: #fff;
  margin-left: 35px;
}

.contact-me .contact-me-container .form-container {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0;
  background-color: #f8f1f1;
  border: 10px solid #cdcdcd;
  width: 900px;
  height: 500px;
}

.contact-me .contact-me-container .form-container form .thankyou_message {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  display: none;
  position: fixed;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 10px;
  color: var(--main-light);
  z-index: 1000;
}

.contact-me .contact-me-container .form-container form .thankyou_message img {
  height: 120px;
}

.contact-me .contact-me-container .form-container form .form-elements {
  margin-left: 50px;
}

.contact-me .contact-me-container .form-container form .form-elements .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-me .contact-me-container .form-container form .form-elements .input-container fieldset {
  border: none;
}

.contact-me .contact-me-container .form-container form .form-elements .input-container fieldset input {
  padding-left: 10px;
  margin-top: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--main-dark);
  outline: none;
  font-size: 1.2em;
}

.contact-me .contact-me-container .form-container form .form-elements .input-container fieldset #name {
  width: 80%;
}

.contact-me .contact-me-container .form-container form .form-elements .input-container fieldset #email {
  margin-left: 50px;
  width: 110%;
}

.contact-me .contact-me-container .form-container form .form-elements fieldset {
  border: none;
  margin-top: 50px;
}

.contact-me .contact-me-container .form-container form .form-elements fieldset textarea {
  padding: 10px;
  border: 2px solid var(--main-dark);
  background: transparent;
  resize: none;
  height: 200px;
  width: 700px;
  font-size: 1.2em;
  outline: none;
}

.contact-me .contact-me-container .form-container form .form-elements .form-btns {
  position: relative;
  left: 600px;
  top: 25px;
  width: 120px;
  height: 71px;
  cursor: pointer;
  z-index: 10;
}

.contact-me .contact-me-container .form-container form .form-elements .form-btns button {
  z-index: 100;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  padding: 16px 24px;
  background: var(--main-green);
  font-size: 1.5em;
  color: #fff;
  border: none;
}

.contact-me .contact-me-container .form-container form .form-elements .form-btns .btn-bg {
  z-index: 10;
  position: relative;
  top: -51px;
  width: 118.16px;
  left: 10px;
  height: 61px;
  background: rgba(94, 170, 171, 0.33);
}

.contact-me .xl-mail-1 {
  position: absolute;
  top: 40%;
  left: 60%;
}

.contact-me .xl-mail-2 {
  position: absolute;
  top: 70%;
  left: 40%;
}

.contact-me .xl-mail-3 {
  position: absolute;
  top: 70%;
  left: 70%;
}

.contact-me .l-mail-1 {
  position: absolute;
  top: 50%;
  left: 70%;
}

.contact-me .l-mail-2 {
  position: absolute;
  top: 30%;
  left: 65%;
}

.contact-me .l-mail-3 {
  position: absolute;
  top: 75%;
  left: 50%;
}

.contact-me .l-mail-4 {
  position: absolute;
  top: 80%;
  left: 25%;
}

.contact-me .m-mail-1 {
  position: absolute;
  top: 40%;
  left: 70%;
}

.contact-me .m-mail-2 {
  position: absolute;
  top: 60%;
  left: 62.5%;
}

.contact-me .m-mail-3 {
  position: absolute;
  top: 77.5%;
  left: 32.5%;
}

.contact-me .m-mail-4 {
  position: absolute;
  top: 80%;
  left: 60%;
}

.contact-me .s-mail-1 {
  position: absolute;
  top: 65%;
  left: 67.5%;
}

.contact-me .s-mail-2 {
  position: absolute;
  top: 60%;
  left: 77.5%;
}

.contact-me .s-mail-3 {
  position: absolute;
  top: 35%;
  left: 75%;
}

.contact-me .s-mail-4 {
  position: absolute;
  top: 75%;
  left: 65%;
}

.contact-me .mail-bg {
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#first {
  -webkit-animation: rotate-1 6s linear infinite;
          animation: rotate-1 6s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#second {
  -webkit-animation: rotate-2 4s linear infinite;
          animation: rotate-2 4s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#third {
  -webkit-animation: rotate-3 3s linear infinite;
          animation: rotate-3 3s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#head {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotateZ(0deg) translateY(0%);
            transform: rotateZ(0deg) translateY(0%);
  }
  50% {
    -webkit-transform: rotateZ(180deg) translateY(50%);
            transform: rotateZ(180deg) translateY(50%);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translateY(0%);
            transform: rotateZ(360deg) translateY(0%);
  }
}

@keyframes rotate-1 {
  0% {
    -webkit-transform: rotateZ(0deg) translateY(0%);
            transform: rotateZ(0deg) translateY(0%);
  }
  50% {
    -webkit-transform: rotateZ(180deg) translateY(50%);
            transform: rotateZ(180deg) translateY(50%);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translateY(0%);
            transform: rotateZ(360deg) translateY(0%);
  }
}

@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotateZ(0deg) translateY(0%);
            transform: rotateZ(0deg) translateY(0%);
  }
  50% {
    -webkit-transform: rotateZ(30deg) translateY(120%);
            transform: rotateZ(30deg) translateY(120%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateY(0%);
            transform: rotateZ(0deg) translateY(0%);
  }
}

@keyframes rotate-2 {
  0% {
    -webkit-transform: rotateZ(0deg) translateY(0%);
            transform: rotateZ(0deg) translateY(0%);
  }
  50% {
    -webkit-transform: rotateZ(30deg) translateY(120%);
            transform: rotateZ(30deg) translateY(120%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateY(0%);
            transform: rotateZ(0deg) translateY(0%);
  }
}

@-webkit-keyframes rotate-3 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
  50% {
    -webkit-transform: rotateZ(60deg) translateX(-50%);
            transform: rotateZ(60deg) translateX(-50%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@keyframes rotate-3 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
  50% {
    -webkit-transform: rotateZ(60deg) translateX(-50%);
            transform: rotateZ(60deg) translateX(-50%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@-webkit-keyframes star-1 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
  50% {
    -webkit-transform: rotateZ(200deg) translateX(250%);
            transform: rotateZ(200deg) translateX(250%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@keyframes star-1 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
  50% {
    -webkit-transform: rotateZ(200deg) translateX(250%);
            transform: rotateZ(200deg) translateX(250%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@-webkit-keyframes star-2 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
  50% {
    -webkit-transform: rotateZ(-200deg) translateX(-100%);
            transform: rotateZ(-200deg) translateX(-100%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@keyframes star-2 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
  50% {
    -webkit-transform: rotateZ(-200deg) translateX(-100%);
            transform: rotateZ(-200deg) translateX(-100%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@-webkit-keyframes star-3 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
  50% {
    -webkit-transform: rotateZ(480deg) translateX(-50%);
            transform: rotateZ(480deg) translateX(-50%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@keyframes star-3 {
  0% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
  50% {
    -webkit-transform: rotateZ(480deg) translateX(-50%);
            transform: rotateZ(480deg) translateX(-50%);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@-webkit-keyframes line-1 {
  0% {
    opacity: 0;
  }
  16.5% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line-1 {
  0% {
    opacity: 0;
  }
  16.5% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes line-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes line-3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line-3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

footer {
  position: absolute;
  top: 380vh;
  height: 100px;
  width: 100%;
  background-color: var(--main-dark);
  position: absolute;
}

footer .wrapper {
  height: 1em;
  width: 200px;
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .wrapper .footer-typing {
  position: relative;
  margin-left: 10px;
  color: #fff;
}

footer .wrapper .footer-typing::after {
  content: "";
  position: relative;
  right: -6px;
  top: -1px;
  width: 1px;
  height: 0.9em;
  border-right: 2px solid #fff;
  -webkit-animation: blink 1.75s infinite ease;
          animation: blink 1.75s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer {
    top: 490vh;
  }
  .card-outter .card .card-bg-btns {
    position: relative;
    left: 50%;
    top: 35px;
    -webkit-transform: translate(-37.5%, 0%);
            transform: translate(-37.5%, 0%);
  }
  .slider-container {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .card-outter .card img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .slider-section {
    display: block;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .about-me-section {
    height: 185vh;
  }
  .open-container {
    top: 10px;
    right: 10px;
    display: block;
  }
  .top-bg-phone {
    z-index: 1500;
    display: block;
    position: fixed;
    top: 0;
    background-color: #f8f1f1;
    height: 75px;
    width: 100%;
  }
  .name {
    z-index: 1500;
    position: fixed;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    left: -100px;
    top: 0;
  }
  .about-me-pic {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    top: 50px;
    left: -50px;
    padding-left: 0;
  }
  .about-me {
    top: 80vh;
  }
  .about-me .me img {
    height: 30px;
  }
  .about-me .me h2 {
    font-size: 1.5em;
  }
  .about-me .me-info {
    width: 100%;
    height: 500px;
  }
  .about-me .me-info h3 {
    font-size: 1.25em;
  }
  .about-me .me-info .h3-border {
    width: 235px;
  }
  .about-me .me-info h4 {
    font-size: 1em;
    padding-right: 25px;
  }
  .about-me-section .about-me-pic .links {
    top: 0;
    margin-left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    left: 115%;
    width: 75px;
    height: 0;
  }
  .thinking-bg {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    top: 50vh;
  }
  .thinking-white {
    display: none;
  }
  .my-fiverr {
    top: 135vh;
    left: 80%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 1000;
  }
  .fiverr-bg {
    top: calc(135vh - 55px);
    left: 80%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .sidebar {
    z-index: 1500;
    margin-right: 0;
    right: -300px;
    background-color: #3a3a3a;
    width: 65vw;
    height: 100vh;
  }
  .sidebar nav ul .li-bg {
    margin: 25px 50px 25px 0;
  }
  .sidebar nav ul .li-bg li a {
    color: var(--main-light);
  }
  .my-projects-section {
    top: 185vh;
    height: 105vh;
    overflow: hidden;
  }
  .my-projects-section .stars {
    display: none;
  }
  .project-container {
    overflow: hidden;
    display: none;
    width: 90vw;
    margin: 125px auto 0 auto;
  }
  .project-container .projects-header {
    opacity: 1;
  }
  .project-container .projects-header .projects-circle {
    height: 30px;
    width: 30px;
  }
  .project-container .cards {
    opacity: 1;
  }
  .project-container .cards .card {
    width: 250px;
    margin: 0 25px 0 25px;
  }
  .tab {
    -webkit-transform: scale(0.35);
            transform: scale(0.35);
  }
  .tab-1,
  .tab-1-bg {
    top: 0;
    left: -25%;
  }
  .tab-2,
  .tab-2-bg {
    left: 50%;
  }
  .tab-3,
  .tab-3-bg {
    z-index: 10;
  }
  .tab-3-bg {
    display: none;
  }
  .circles {
    display: none;
  }
  .skills {
    padding-left: 0;
    top: 300vh;
  }
  .skills .tools .lang {
    margin-left: 25px;
  }
  .skills .tools .lang .language-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80vw;
  }
  .skills .tools .lang .language-bg h2 {
    margin: 0 0 0 25px;
  }
  .skills .tools .lang .languages-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-row-gap: 25px;
  }
  .skills .tools .lang .languages-container img {
    width: 35px;
    height: 35px;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin: 0 auto 0 auto;
  }
  .skills .tools .lang .languages-container img:nth-child(1),
  .skills .tools .lang .languages-container img:nth-child(2),
  .skills .tools .lang .languages-container img:nth-child(3) {
    margin-top: 25px;
  }
  .skills .tools .lang .languages-container img:nth-child(4),
  .skills .tools .lang .languages-container img:nth-child(5),
  .skills .tools .lang .languages-container img:nth-child(6) {
    margin-bottom: 25px;
  }
  .skills .tools .tool {
    margin-left: 100px;
    background-color: transparent;
    width: 60vw;
  }
  .skills .tools .tool .tools-bg {
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills .tools .tool .tools-bg h2 {
    margin: 0 0 0 25px;
  }
  .skills .tools .tool .tools-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-row-gap: 25px;
    height: auto;
    width: 60vw;
  }
  .skills .tools .tool .tools-container img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin: 0 auto 0 auto;
  }
  .skills .tools .tool .tools-container img:nth-child(1),
  .skills .tools .tool .tools-container img:nth-child(2) {
    margin-top: 10px;
  }
  .skills .tools .tool .tools-container img:nth-child(3),
  .skills .tools .tool .tools-container img:nth-child(4) {
    margin-bottom: 10px;
  }
  .skills .notebook-container {
    display: none;
  }
  .contact-me {
    height: 100vh;
    top: 390vh;
  }
  .contact-me .contact-me-container {
    top: 10vh;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .contact-me .contact-me-container .contact-me-header {
    width: 80vw;
  }
  .contact-me .contact-me-container .form-container {
    width: 80vw;
  }
  .contact-me .contact-me-container .form-container form .thankyou_message {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .contact-me .contact-me-container .form-container form .form-elements {
    margin: 0;
  }
  .contact-me .contact-me-container .form-container form .form-elements .input-container {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    display: block;
  }
  .contact-me .contact-me-container .form-container form .form-elements .input-container fieldset {
    width: 75%;
  }
  .contact-me .contact-me-container .form-container form .form-elements .input-container fieldset #email {
    margin: 0;
  }
  .contact-me .contact-me-container .form-container form .form-elements .input-container fieldset:first-child {
    margin: 25px 0 0 0;
  }
  .contact-me .contact-me-container .form-container form .form-elements fieldset textarea {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    margin: -50px 0 0 0;
    height: 275px;
    width: 75vw;
  }
  .contact-me .contact-me-container .form-container form .form-elements .form-btns {
    position: relative;
    left: 0;
    top: -10px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .contact-me .s-mail,
  .contact-me .m-mail,
  .contact-me .xl-mail-2,
  .contact-me .xl-mail-3,
  .contact-me .l-mail-3,
  .contact-me .l-mail-4 {
    display: none;
  }
  .contact-me .xl-mail-1 {
    top: 50px;
    left: 0;
  }
  .contact-me .l-mail-1 {
    left: 82.5%;
  }
  .contact-me .l-mail-2 {
    left: 50%;
    top: 80%;
  }
  ol {
    list-style: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  a, a:visited {
    color: #222;
  }
}

.card-outter {
  width: 100%;
}

.card-outter .card {
  padding: 0;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (max-device-height: 600px) {
  .about-me-section .name {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    left: -150px;
  }
  .about-me-section .about-me-pic {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    top: 0;
  }
  .about-me-section .about-me {
    height: auto;
    top: 90vh;
  }
  .about-me-section .about-me .me-info {
    height: auto;
  }
  .about-me-section .about-me .me-info h4 {
    padding-bottom: 25px;
  }
  .my-projects-section {
    position: absolute;
    top: 225vh;
  }
  .slider-section {
    top: 50vh;
  }
  .skills {
    top: 350vh;
  }
  .contact-me {
    background-color: #f8f1f1;
    top: 475vh;
  }
  footer {
    top: 600vh;
  }
  .sidebar {
    font-size: 0.75em;
  }
  .sidebar nav ul .li-bg {
    margin-right: 25px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .projects-header {
    position: relative;
    top: -23px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  footer {
    top: 340vh;
  }
  .skills {
    height: 50vh;
    width: 100%;
    padding-left: 0;
  }
  .skills .tools {
    position: relative;
  }
  .skills .tools .lang {
    position: relative;
    top: 50px;
    margin: 0;
    left: 7.5%;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .skills .tools .lang .languages-container img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .skills .tools .tool {
    position: relative;
    top: 200px;
    margin: 0;
    left: 25%;
    padding-left: 0;
    margin-left: -70px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .skills .tools .tool .tools-container img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .skills .notebook-container {
    display: none;
  }
  .sidebar {
    z-index: 1500;
    margin-right: 0;
    right: -600px;
    background-color: #cfcfcf;
    width: 40vw;
    height: 100vh;
  }
  .sidebar nav ul {
    width: 33vw;
  }
  .sidebar nav ul .li-bg {
    margin: 25px 50px 25px 0;
  }
  .sidebar nav ul .li-bg li a {
    font-weight: 600;
    color: var(--main-dark);
  }
  .about-me-section .name {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    top: 25px;
    left: 0;
  }
  .about-me-section .about-me {
    top: 65vh;
  }
  .about-me-section .thinking-bg,
  .about-me-section .thinking-white {
    display: none;
  }
  .about-me-section .about-me-pic .my-fiverr {
    top: 45vh;
    left: 50%;
  }
  .about-me-section .about-me-pic .fiverr-bg {
    top: calc(45vh - 55px);
    left: 50%;
  }
  .contact-me {
    top: 250vh;
  }
  .contact-me .contact-me-container {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 80vw;
  }
  .contact-me .contact-me-container .contact-me-header {
    width: 80vw;
  }
  .contact-me .contact-me-container .form-container {
    height: 100%;
    width: 80vw;
  }
  .contact-me .contact-me-container .form-container form .form-elements .input-container {
    display: block;
  }
  .contact-me .contact-me-container .form-container form .form-elements .input-container fieldset #name {
    width: 40%;
  }
  .contact-me .contact-me-container .form-container form .form-elements .input-container fieldset #email {
    width: 50%;
    margin-left: 0;
  }
  .contact-me .contact-me-container .form-container form .form-elements fieldset #message {
    width: 80%;
  }
  .contact-me .contact-me-container .form-container form .form-elements .form-btns {
    margin-top: 50px;
    left: 50%;
  }
  .open-container {
    top: 25px;
    right: 25px;
    display: block;
    -webkit-transform: rotateY(180deg) scale(1.25);
            transform: rotateY(180deg) scale(1.25);
  }
  .my-projects-section {
    top: 130vh;
    height: 80vh;
  }
  .my-projects-section .stars {
    display: none;
  }
  .my-projects-section .project-container {
    display: none;
  }
  .my-projects-section .tab {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .my-projects-section .tab-3,
  .my-projects-section .tab-3-bg {
    top: 75%;
    left: 0;
  }
  .slider-section {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 150vh;
    width: 60vw;
  }
  .slider-section .slider-container {
    width: 60vw;
  }
  .slider-section .slider-container ol li {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .slider-section .slider-container ol li .card {
    z-index: 1000;
  }
  .slider-section .slider-container ol li .card .card-header {
    height: 32px;
    width: 100%;
    opacity: 1;
    z-index: 10000;
    position: relative;
    top: 25px;
    font-size: 16px;
    font-weight: 700;
    color: var(--main-gray);
    text-align: center;
  }
  .slider-section .slider-container ol li:nth-child(5) {
    left: 45%;
  }
  .about-me-section .about-me-pic .links {
    top: 0;
    margin-left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    left: 125%;
    width: 75px;
    height: 0;
  }
}
/*# sourceMappingURL=portfolio.css.map */