*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f6f6f6;
}

.progressbar {
  height: 80vh;
  width: 5px;
  position: absolute;
  top: 10%;
  left: 20%;
  background-color: #cbcbcb;
  .question-stop {
    position: relative;
    left: -15px;
    margin: 75px 0 75px 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #e7e7e7;
    transition: ease-in-out 0.25s;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.25s ease-in-out;
    }
  }
  .question-stop:first-child {
    margin-top: 100px;
  }
}

.quiz-container {
  overflow: hidden;
  width: 750px;
  height: 40vh;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  .quiz-question {
    position: absolute;
    top: 50px;
    left: 10%;
  }
  .quiz-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    height: auto;
    padding: 150px 100px 0 100px;
    .answer-container {
      cursor: pointer;
      height: 3em;
      background-color: #e7e7e7;
      transition: all 0.25s ease-in-out;
      display: flex;
      align-items: center;
      pointer-events: auto;

      .answer {
        width: 100%;
        text-align: center;
      }
    }
  }
  .settings {
    position: absolute;
    bottom: 10px;
    left: 10%;
    display: flex;
    align-items: center;
    p {
      cursor: pointer;
      opacity: 0.75;
      transition: all 0.25s;
    }
    p:hover {
      opacity: 0.25;
    }
    .divide {
      width: 2px;
      height: 30px;
      background-color: #00adb5;
      margin: 0 10px 0 10px;
    }
  }
  .next-question {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.5em;
    opacity: 0.25;
    font-weight: 900;
  }
  .btn-triangle {
    position: absolute;
    bottom: -95px;
    left: calc(50%);
    width: 100px;
    height: 100px;
    transform: translate(-50%) rotate(45deg);
    background-color: #03d1db;
    transition: all 0.5s;
  }
  .container-circle {
    height: 150px;
    width: 150px;
    background-color: #aad8d3;
    border-radius: 100%;
    position: absolute;
    bottom: -20%;
    right: -5%;
  }
  .results,
  .submit {
    display: none;
  }
  .submit {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.5em;
    opacity: 0.25;
    font-weight: 900;
  }
  .results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .percentage {
      text-align: center;
    }
  }
}
